<!-- 'editing' 'completed' -->
<li [class.completed]="true" [class.editing]="editando">
  <div class="view">
    <input
      [formControl]="chkCompletado"
      class="toggle"
      type="checkbox"
      checked
    />

    <label (dblclick)="editar()"> {{ todo.text }} </label>

    <button (click)="borrar()" class="destroy"></button>
  </div>

  <input
    (blur)="terminarEdicion()"
    [formControl]="txtInput"
    class="edit"
    value="Create a TodoMVC template"
    #inputFisico
  />
</li>
